
<div class="container">
   

     
    
    <section class="menu">

      <app-title   [title] = "title"></app-title>
        
      <div class="row menuRow">
         <div routerLink="/upload" >
            <div class="card menuCard">
             <p class="menuItem"><strong>Induct Patients</strong></p> 
         </div>
            </div>
          </div>
           
 
          <div class="row menuRow">
             
             <div routerLink="/update">
                <div class="card menuCard">
    
                   <p class="menuItem"><strong>Update Patient</strong></p> 
                </div>
             </div>
 
          </div>
 
         
       <div class="row menuRow">
          <div routerLink="/process">
             <div class="card menuCard">
                 <p class="menuItem"><strong>Process Patient</strong></p> 
             </div>
             </div>
             </div>


    </section>
    
      </div>
        
         

